{
  "plugins": ["jest"],
  "extends": ["plugin:jest/recommended"],
  "rules": {
    "jest/no-disabled-tests": "error",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "error",
    "jest/valid-expect": "error",
    "jest/no-large-snapshots": ["error", { "maxSize": 20 }],
    "jest/valid-expect-in-promise": "error"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}
